In [14]:
import sys 
sys.path.append('../')
import numpy as np 
import pandas as pd 
from pickle import dump, load
data = load(open('data/data.pkl', 'rb'))
x = data['xvar']; y = data['yvar']
y.name = 'target'
print(x.shape, y.shape)

(934, 26) (934,)

In [2]:
import statsmodels.api as sm
macrodata = sm.datasets.macrodata.load_pandas().data
macrodata.index = pd.period_range('1959Q1', '2009Q3', freq='Q')
macrodata.index = macrodata.index.to_timestamp()
macrodata = macrodata.drop(columns = ['year', 'quarter'])
macrodata = macrodata.diff().dropna()
x = macrodata.drop(columns = 'realgdp')
y = macrodata['realgdp']

In [3]:
from correlation import analyze_correlation
ac = analyze_correlation(x, y, verbose = True, decompose=False)
results = ac.analyze()

{1: ({'ssr_ftest': (0.11800152430451781, 0.7319633657217133, 96.0, 1), 'lrtest': (0.12161434412729477, 0.7272901560798963, 1), 'params_ftest': (0.11800152430431206, 0.7319633657219349, 96.0, 1.0)}, [<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x1647eb210>, <statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x1643cd390>, array([[0., 1., 0.]])]), 2: ({'ssr_ftest': (0.8470247941271075, 0.43196846598019734, 93.0, 2), 'lrtest': (1.7690637312734907, 0.41290742419593185, 2), 'params_ftest': (0.847024794128311, 0.4319684659796864, 93.0, 2.0)}, [<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x13c8c72d0>, <statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x1651cc450>, array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])])}
Checking stationarity of features using ADF test at 0.05 confidence level...
Differenced cpi (1 times) --> new_name: cpi_diff_1, p-value: 0.059
Differenced pop (1 times) --> new_name: pop_diff_1, p-value: 0.475
All features are now stationary.

An unexpected error occurred with 20 lags. Error: 'numpy.float64' object is not callable
Fatal Error: An exception occurred outside fitting loop: 'numpy.float64' object is not callable

SystemExit: Unexpected error in VAR model fitting. Program terminated: 'numpy.float64' object is not callable

/Users/jerald/opt/miniconda3/envs/TimeSeries/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [21]:
# # Random Time Series 
# np.random.seed(1)
# n = 500
# indexvals = np.arange(n)    
# x = np.random.normal(n, 1, size = (n, 2))
# y = np.random.normal(0, 1, size = n)
# dte_index = pd.DatetimeIndex(indexvals)

# # Create a DataFrame
# df = pd.DataFrame(x, index = dte_index, columns = ['x1', 'x2'])
# df['x3'] = df['x1'] * 3.4 + df['x2'] * 2.3 + y * 0.5
# df['x4'] = df['x3'] + df['x2'].shift(1)
# df['x4'] = df['x4'].fillna(df['x4'].mean())
# df['y'] = y

ac._get_best_model(ac.df_scaled, maxlags = 10, trend = 'ctt', criterion = 'AIC')

1

In [100]:
# html_data = order_df.as_html()
# df = read_html(html_data)[0]
# df.iloc[0,0] = 'Lag'
# df.columns = df.iloc[0]
# df = df.drop(0)
# df

/var/folders/3z/0n7lmcsd5h3969t725gndl740000gn/T/ipykernel_71011/2526045264.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = read_html(html_data)[0]
/var/folders/3z/0n7lmcsd5h3969t725gndl740000gn/T/ipykernel_71011/2526045264.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Lag' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[0,0] = 'Lag'

0    Lag     AIC     BIC         FPE    HQIC
1    0.0   22.50   22.71   5.930e+09   22.59
2    1.0   18.56  21.25*   1.154e+08   19.65
3    2.0   18.44   23.61   1.043e+08   20.54
4    3.0   17.07   24.72   2.766e+07   20.17
5    4.0   17.07   27.19   3.008e+07   21.17
6    5.0   16.41   29.01  1.785e+07*   21.51
7    6.0   16.31   31.39   2.026e+07   22.42
8    7.0   16.27   33.83   2.704e+07   23.38
9    8.0   15.75   35.78   2.571e+07   23.86
10   9.0   15.27   37.79   3.085e+07   24.39
11  10.0   14.73   39.73   4.537e+07   24.86
12  11.0   14.15   41.63   9.271e+07   25.29
13  12.0   12.81   42.77   1.560e+08   24.95
14  13.0   9.674   42.11   1.133e+08   22.81
15  14.0  4.371*   39.28   6.537e+07  18.52*

In [116]:
# from io import StringIO
# html_data = order_df.as_html()
# df = pd.read_html(StringIO(html_data), header = [0])[0].rename(columns = {'Unnamed: 0':'Lag'})
# df

    Lag     AIC     BIC         FPE    HQIC
0     0   22.50   22.71   5.930e+09   22.59
1     1   18.56  21.25*   1.154e+08   19.65
2     2   18.44   23.61   1.043e+08   20.54
3     3   17.07   24.72   2.766e+07   20.17
4     4   17.07   27.19   3.008e+07   21.17
5     5   16.41   29.01  1.785e+07*   21.51
6     6   16.31   31.39   2.026e+07   22.42
7     7   16.27   33.83   2.704e+07   23.38
8     8   15.75   35.78   2.571e+07   23.86
9     9   15.27   37.79   3.085e+07   24.39
10   10   14.73   39.73   4.537e+07   24.86
11   11   14.15   41.63   9.271e+07   25.29
12   12   12.81   42.77   1.560e+08   24.95
13   13   9.674   42.11   1.133e+08   22.81
14   14  4.371*   39.28   6.537e+07  18.52*

In [ ]:
df.shape

(202, 12)